build/
experiments/**
!experiments/**/
!experiments/**/*.json
!experiments/**/*.jsonl
!experiments/**/*.png
.vscode/
indices/
.cache/
data/*
data-example/*
figures/*
scripts/tests-pipeann/drop_cache
pipeann/*.so
__pycache__/
pipeann.egg-info/
dist/
docs/**/.*
assets/